@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

:root{
    --charizard-bg: rgb(255, 194, 115);
    --blast-bg: rgb(142, 174, 229);
    --diglett-bg: rgb(175, 117, 90);
    --pikachu-bg: rgb(248, 250, 137);
    --eevee-bg: rgb(172, 132, 80);
    --main-bg:gainsboro;
}

.charizard-bg{
    background-color: var(--charizard-bg);
    opacity: 80%;
}

.blast-bg{
    background-color: var(--blast-bg);
    opacity: 80%;
}

.diglett-bg{
    background-color: var(--diglett-bg);
    opacity: 80%;
}

.pikachu-bg{
    background-color: var(--pikachu-bg);
    opacity: 80%;
}

.eevee-bg{
    background-color: var(--eevee-bg);
    opacity: 80%;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    background: #333;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 98vh;
    margin: 1vh;
    outline: solid 1px;
    border-radius: 10px;
    background: -webkit-linear-gradient(to top, #abbaab, #ffffff);
    background: linear-gradient(to top, #abbaab, #ffffff);
}

.header{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    font-size: 15px;
    background: crimson;
    opacity: 90%;
}   

.header__container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.header__container__img{
    width: 10vh;
    filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.7));
}

.header__container__text{
    font-size: 5vh;
    font-family: 'Pokemon', 'Michroma', sans-serif;
}

.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 15px;
}

.container-left{
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.container-left__tittle{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    padding: 2vh;
    width: 90%;
    margin: 20px;
}

.container-left__tittle__img{
    margin: 1vh;
    width: 8vh;
    filter: drop-shadow(0 3px 1px rgba(0, 0, 0, 0.7));
}

.container-left__tittle__text{
    letter-spacing: 3px;
    font-size: 4vh;
    font-family: 'Pokemon', 'Michroma', sans-serif;
}

.container-left__img img{
    max-width: 100%;
    height: 45vh;
    filter: drop-shadow(0 20px 30px rgba(0, 0, 0, 0.7));
}

.container-right{
    width: 50%;
}

.container-right__table{
    background-color: #fff; 
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 60px 0;
}

.container-right__img{
    display: none;
}

table{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-collapse: collapse;
}

td, th {
    width: 50%;
    text-align: center;
    border: solid #fff 1px;
    padding: 10px;
    font-family: 'Michroma', sans-serif;
}

th{
    font-size: 2.5vh;
}

td{
    background-color: var(--main-bg);
}

.footer{
    font-family: 'Michroma';
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 90%;
    background: crimson;
}

.footer__text{
    font-size: 2vh;
    font-family: 'Michroma',sans-serif;
}

.footer__button{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footer__button__container{
    background-color: var(--main-bg);
    box-shadow: 0 2px 10px 3px #333;   
    border-radius: 20px;
    padding: 2vh;
    margin: 2vh;
}

.footer__button__img{
    width: 10vh;
    max-height: 7vh;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.7));
}

.footer__button__container:hover{
    background-color: #fff;
    transition: .2s;
    padding: 2.2vh;
}

.hidden{
    display: none;
}

.show{
    display: inline;
}

@media screen and (max-width: 399px){

    .header{
        justify-content: center;
        height: auto;
    }

    .main{
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        height: auto;
    }

    td, th{
        font-size: 14px;
    }

    .container-right{
        width: 100%;
        align-items: center;
    }

    .container-left__tittle{
        flex-wrap: nowrap;
    }

    .container-left__tittle__img{
        width: 2.5vh;
    }

    .container-left__tittle__text{
        font-size: 2.5vh;
    }

    .container-left{
        width: 100%;
    }

    .container-right__img{
        display: block;
        position: relative;
        top: 60px;
        width: 100%;
        max-height: 50vh;
        filter: drop-shadow(0 10px 30px rgba(0, 0, 0, 0.7));
    }

    .footer__text{
        font-size: 1.5vh;
    }

    .main-img{
        display: none;
    }

    .container{
        height: auto;
    }

}

@media screen and (min-width: 400px) and (max-width: 720px){

    .header{
        justify-content: center;
        height: auto;
    }

    .main{
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        height: auto;
    }

    td, th{
        font-size: 14px;
    }

    .container-right{
        width: 100%;
        align-items: center;
    }

    .container-left__tittle{
        flex-wrap: nowrap;
    }

    .container-left__tittle__img{
        width: 4vh;
    }

    .container-left__tittle__text{
        font-size: 4.4vh;
    }

    .container-left{
        width: 100%;
    }

    .container-right__img{
        display: block;
        position: relative;
        top: 60px;
        width: 100%;
        max-height: 50vh;
        filter: drop-shadow(0 10px 30px rgba(0, 0, 0, 0.7));
    }

    .footer__text{
        font-size: 1.5vh;
    }

    .main-img{
        display: none;
    }

    .container{
        height: auto;
    }

}
